
@import "../../node_modules/rfs/sass"; //adaptive fonts
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers"; //hamburger animations
@import "base/mixin";
@import "base/var";
@import "base/normalize";
@import "base/typography";
@import "base/utilities";
@import "components/accordeon";


@import "libs/animate";
@import "libs/bootstrap-grid.min";


.wrapper {
	overflow: hidden;
	width: 100%;
	min-height: 100vh;
}
.border-radius {
	border-radius: 14px;
}
.bg-primary-lines {
	background-image: url(/img/bg/bg-primary-lines.jpg);
	@include bg-cover;
}



.btn {
	position: relative;
	display: inline-block;
	padding: 11px 60px 11px 30px;
	text-decoration: none;
	cursor: pointer;
	svg {
		position: absolute;
		right: 30px;
		top: 50%;
		transform: translateY(-50%);
	}
	&.btn-no-icon {
		padding: 11px 30px 11px 30px;
	}
}
.btn-main {
	background-color: $color-yellow;
	border-radius: 30px;
}
.theme-link {
	transition: 300ms;
	text-decoration: none;
	&:hover {
		color: $color-blue;
	}
}
.icon-link {
	text-decoration: none;
	@include flex-row(nowrap, flex-start,center);
	svg {
		margin-right: 10px;
	}
}
.arrow-link {
	position: relative;
	display: inline-block;
	padding: 0 56px 0 0;
	text-decoration: none;
	cursor: pointer;
	span {
		border-bottom: 1px dashed;
	}
	svg {
		position: absolute;
		right: 30px;
		top: 50%;
		transform: translateY(-50%);
	}
}




.hamburger {
	padding: 0;
	padding: 10px;
    margin-right: 19px;
    outline: 0;
    &:hover {
    	.hamburger-inner,
		.hamburger-inner::before,
		.hamburger-inner::after { background-color: $color-blue}
    }
    &.is-active {
		.hamburger-inner,
		.hamburger-inner::before,
		.hamburger-inner::after { width: 30px;}
    }
}
.hamburger-box {
	width: 30px;
	height: 18px;

}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	height: 2px;
}
.hamburger-inner { width: 30px; }
.hamburger-inner::before { width: 28px;}
.hamburger-inner::after { width: 26px;}



// TOP BAR

.top-bar {
	background-color: #fff;
	.container {
		height: 50px;
		@include flex-row(nowrap,space-between,center);		
	}
}
.top-bar-nav {
	height: 50px;
	@include flex-row(nowrap,space-between,center);		
}
.top-bar-link {
	@include flex-row(nowrap,flex-start,center);		
	height: 100%;
	position: relative;
	margin: 0 15px 0 0;
	@include font-kit(14px,13px,12px,14px,15px);
	text-decoration: none;
	transition: 300ms;
	&::before,
	&::after {
		position: absolute;
		content: '';
		height: 2px;
		bottom: 0;
		background-color: $color-blue;
		width: 0%;
		transition: 300ms;
	}
	&::before 	{ right: 50%; }
	&::after 	{ left: 50%; }

	&:hover {
		color: $color-blue;
	}
	&:hover::before,
	&:hover::after {
		width: 50%;
	}


}







// HEADER

.header {
	position: relative;
	&::after {
		@include pseudo;
		left: 0%;
		top: -280%;
		height: 90vh;
		width: 300%;
		background-color: #EDEDED;
		transform: rotate(-11deg) translateX(-50%) translateY(-50%);
		z-index: -1;
	}
	.container {
		@include flex-row(nowrap, flex-start, flex-start);
	}
}
.header-logo {
	margin: 20px 30px 0 0;
	display: inline-block;
	width: 136px;
	height: 96px;
	background-image: url(/img/logo.png);
	@include bg-contain;
}
.header-content {
	flex: 1 1 100%;
}
.header-top {
	margin: 0 0 10px 0;
	@include flex-row(nowrap,space-between,center);
}
.header-bottom {
	@include flex-row(nowrap,flex-start,center);
	.btn-burger {
		margin: 0 29px 0 0;
	}
}
.header-nav {
	@include flex-row(nowrap,flex-start,center);
	.theme-link {
		font-size: 14px;
		margin: 0 17px 0 0;
	}
}
.delivery-badge {
	@include flex-row(nowrap,space-between,center);
	svg {
		margin-right: 30px;
	}
}


// SEARCH

.search {
	position: relative;
	margin: 0 55px 0 auto;
	height: 30px;

	form,
	input {
		height: 100%;
		background-color: transparent;
		border-radius: 30px;
		box-shadow: 0;
		outline: 0;
	}
	input {
		border: 1px solid #D3D3D3;
		padding: 0 0 0 22px;
	}

	svg {
		position: absolute;
		top: 50%;
		right: 12px;
		width: 18px;
		height: 18px;
		transform: translateY(-50%);
	}
}



// BASKET

.btn-basket {
	flex: 0 0 105px;
	margin: 0 18px 0 0;
	padding: 20px 0;
	@include flex-row(nowrap,space-between,flex-end);
	text-decoration: none;
}
.btn-basket-icon {
	position: relative;
	margin: 0 9px 0 0;
	.btn-basket-num {
		position: absolute;
		right: -4px;
		top: -4px;
		width: 15px;
		height: 15px;
		background-color: $color-yellow;
		@include flex-row(nowrap,center,center);
		border-radius: 50%;
		font-size: 9px;
		font-style: normal;

	}
}
.btn-basket-text {
	margin-bottom: 3px;
}




// COMPARE

.btn-compare {
	flex: 0 0 109px;
	padding: 20px 0;
	@include flex-row(nowrap,space-between,flex-end);
	text-decoration: none;
}
.btn-compare-icon {
	position: relative;
	margin: 0 9px 0 0;
}
.btn-compare-text {
	margin-bottom: 3px;
	color: #797979;
}












// SLIDERS

.theme-pagination {
	padding: 0 40px;
	bottom: 29px !important;
}
.theme-pagination .swiper-pagination-bullet {
	margin: 0 6px !important;
	transition: 150ms;
	border: 2px solid transparent;
}

// white-yellow pagination
.theme-pagination-white .swiper-pagination-bullet {
	background-color: white;
    width: 10px;
    height: 10px;
    opacity: 1;
}
.theme-pagination-white .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: $color-yellow;
	box-shadow: 0 0 0 2px $color-yellow;
	animation: anim-pagination-bullet 200ms;
}

// red-yellow pagination
.theme-pagination-red .swiper-pagination-bullet {
	background-color: $color-red;
    width: 10px;
    height: 10px;
    opacity: 1;
}
.theme-pagination-red .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: $color-yellow;
	box-shadow: 0 0 0 2px $color-yellow;
	animation: anim-pagination-bullet 200ms;
}

.pagination-left {
	@include flex-row(nowrap, flex-start, center);
}

@keyframes anim-pagination-bullet {
	0% {
		border: 2px solid transparent;
	}
	50% {
		box-shadow: 0 0 0 4px $color-yellow;
	}
	100% {
		box-shadow: 0 0 0 2px $color-yellow;
	}
}








.slider-with-arrows {
	padding-bottom: 50px;
	.swiper-button-prev,
	.swiper-button-next {
	    top: auto;
	    bottom: 0;
	    width: 36px;
	    height: 36px;
		border-radius: 50%;
	    background-color: white;
	    box-shadow: 0 0 0px 1px rgba(0,0,0,.07);
	    &::after {display: none;}
	    &:hover {
	    	background-color: $color-yellow;
	    	box-shadow: 0 0 0px 1px $color-yellow;
	    }
	}
	.swiper-button-next {
	    left: 55px;
	}
	.swiper-button-prev {
	    left: 1px;
	    transform: rotate(-180deg);
	}

}











// HERO SLIDER

.hero {
	margin-bottom: 73px;
}

.hero-slider {
	height: 430px;
	.swiper-container {
		height: 100%;
	}
}

.hero-slide {
	position: relative;
	@include flex-row(nowrap,flex-start,center);
	height: 100%;
	overflow: hidden;
	padding: 39px;
	z-index: 1;
}
.hero-slide-content { width: 100%;}
.hero-slide-deco { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include bg-cover;
	z-index: -3;
	&::after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #C31E32;
		opacity: 80%;
		z-index: -2;
		mix-blend-mode: multiply;
	}
	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(/img/bg/spec-main-overlay.png);
		z-index: -1;
		mix-blend-mode: multiply;
	}
}



// HERO-SPEC

.hero-spec {
	position: relative;
	@include flex-row(nowrap,flex-start,center);
	margin: 0 0 30px 0;
	height: 200px;
	padding: 39px;
	z-index: 1;
	background-image: url(/img/bg/bg-primary-small.jpg);
	@include bg-cover;
	&:last-child {
		margin-bottom: 0;
	}
}
.hero-spec-content {
	width: 60%;
}
.hero-spec-img {
	position: absolute;
	right: -5%;
	bottom: -12%;
	width: 46%;
	height: 89%;
	@include bg-contain;
}








// category list
.catalog-unit {
	position: relative;
	height: 161px;
	transition: all 150ms;
	&.active {
		.catalog-unit-content{
			box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.1);
			z-index: 1;
		}
		.catalog-unit-list {
			height: auto;
		}
		.catalog-unit-icon::before {
			animation: animate-catalog-unit-icon-deco 250ms;
			width: 100%;
		}
	}
	&.disabled {
		transform: scale(.96);
		opacity: .65;
		z-index: -1;
		.catalog-unit-header p,
		.catalog-unit-item a {
			color: gray;
		}
		.catalog-unit-icon::before,
		.catalog-unit-divider {
			background-color: gray;
		}
	}
}

.catalog-unit-content {
	position: absolute;
    width: calc(100% + 60px);
    padding: 30px;
    top: -30px;
    left: -30px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 14px;    
    transition: 300ms;
}
.catalog-unit-header {
	position: relative;
	padding: 0 0 0 57px;
	min-height: 42px;
	@include flex-row(nowrap, flex-start, center);
	margin-bottom: 19px;
	p {
		color: #C31E32;
	}
}
.catalog-unit-icon {
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	flex: 0 0 40px;
	height: 40px;
	@include bg-contain;
	&::before {
		position: absolute;
		content: '';
		bottom: -10px;
		left: 0;
		width: 50%;
		height: 2px;
		background-color: #C31E32;
		transition: 300ms;
	}
}
@keyframes animate-catalog-unit-icon-deco {
	0% {width: 20px;}
	62% { width: 46px;}
	100% {width: 40px;}
}
.catalog-unit-list {
	padding: 0 0 0 57px;
    margin: 0 0 0 -2px;
    height: 70px;
    overflow: hidden;
}
.catalog-unit-item {
	font-size: 14px;
	display: inline-block;
	padding: 0 3px 0 2px;
	margin: 0;
	list-style: none;
	line-height: 1;
	a {
		display: inline-block;
		padding: 5px 0;
	}
	&::before {
		display: none;
	}
}
.catalog-unit-divider {
	display: inline-block;
	width: 4px;
	height: 4px;
	vertical-align: middle;
	background-color: $color-blue;
	border-radius: 50%;
	&:last-child {display: none;}
}



// NEWS
.news-thumb {
	display: inline-block;
	width: 100%;
	text-decoration: none;
	&:hover {
		.photo-zoomer {
			width: 110%;
			height: 110%;
			&::before {
				opacity: .65;
	    		left: -195%;
			}
			&::after {
				opacity: .25;
			}
		}
		.news-thumb-caption::before {
			// animation: animate-new-thumb-caption 350ms;
			width: 50px;
		}
	}
}
.news-thumb-caption {
	position: relative;
	padding: 0 0 14px 0;
	margin: 0 0 14px 0;
	&::before {
		position: absolute;
		bottom: 0;
		left: 0;
	    content: '';
	    width: 30px;
	    height: 2px;
	    background-color: #C31E32;
	    transition: 300ms;
	}
}
@keyframes animate-new-thumb-caption {
	0% {width: 30px;}
	62% { width: 59px;}
	100% {width: 50px;}
}
.news-thumb-date {
	color: #797979;
	font-size: 14px;
}







.photo {
	display: inline-block;
	position: relative;
	width: 100%;
	// height: 243px;
	overflow: hidden;
	&.height-300 {
		height: 336px;
	}	
	&.height-250 {
		height: 243px;
	}	
}
.photo-zoomer {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include bg-cover;
	transition: 250ms;
	&::before {
		position: absolute;
	    content: '';
	    width: 200%;
	    height: 200%;
	    background-color: black;
	    transition: 300ms;
	    left: -255%;
	    top: -50%;
	    transform: rotate(15deg);
	    opacity: 0;
	    // mix-blend-mode: multiply;
	}
	&::after {
		position: absolute;
	    content: '';
	    width: 100%;
	    height: 100%;
	    background-color: black;
	    transition: 250ms;
	    left: 0%;
	    top: 0%;
	    opacity: 0;
	    // mix-blend-mode: multiply;
	}
}

.photo:not(.no-hover):hover {
		.photo-zoomer {
			width: 110%;
			height: 110%;
			&::before {
				opacity: .65;
	    		left: -195%;
			}
			&::after {
				opacity: .25;
			}
		}
	}

// .news-thumb-img {
// 	display: inline-block;
// 	width: 100%;
// 	height: 243px;
// 	margin-bottom: 19px;
// 	background-size: 150%;
// 	background-position: top left;
// 	background-repeat: no-repeat;
// 	transition: 300ms;

// }