
@import "../../node_modules/rfs/sass"; //adaptive fonts
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers"; //hamburger animations
@import "../../node_modules/pretty-checkbox/dist/pretty-checkbox.min"; //hamburger animations
@import "base/mixin";
@import "base/var";
@import "base/normalize";
@import "base/typography";
@import "base/utilities";
@import "components/accordeon";
@import "components/signup-form";


@import "libs/animate";
@import "libs/bootstrap-grid.min";
@import "libs/lightbox";
@import "libs/ion-rangeslider";


.wrapper {
	overflow: hidden;
	width: 100%;
	min-height: 100vh;
}
.border-radius {
	border-radius: 14px;
}
.bg-primary-lines {
	background-image: url(/img/bg/bg-primary-lines.jpg);
	@include bg-cover;
	// padding: 60px 0 80px 0;
}
.bg-primary-photo {
	background-image: url(/img/bg/bg-primary-photo.jpg);
	@include bg-cover;
}
.bg-gray {
	background-color: #EDEDED;
}
.bg-red {
	background-color: $color-red;
}
.bg-yellow {
	background-color: $color-yellow;
}
.bg-blue {
	background-color: $color-blue;
}
.bg-biglogo {
	position: relative;
	padding-bottom: 130px;
	&::before,
	&::after {
		position: absolute;
		content: '';
	}
	&::before{
		width: 300%;
		height: 274%;
		left: -100%;
		bottom: -125%;
		background-color: #EDEDED;
		transform: rotate(-11deg);
		z-index: -2;
	}
	&::after {
		width: 88vw;
		height: 88vh;
		bottom: -50%;
		right: 0;
		background-image: url(/img/bg/bg-logo.png);
		background-size: contain;
		background-position: bottom right;
		background-repeat: no-repeat;
		z-index: -1;

	}
}



.btn {
	position: relative;
	display: inline-block;
	padding: 11px 55px 11px 28px;
	text-decoration: none;
	cursor: pointer;
	transition: 300ms;
	&.btn-no-icon {
		padding: 11px 30px 11px 30px;
	}
}
.btn-fancy-arrow {
	.fancy-arrow {
		position: absolute;
		right: 24px;
		top: 50%;
		transform: translateY(-50%);
		transition: 300ms;
	}
	&:hover {
		.fancy-arrow {
			transform: translate(6px, -50%);
		}
	}
}
.btn-main {
	background-color: $color-yellow;
	border-radius: 30px;
	path {
		transition:300ms;
	}
	&.btn-hover-white:hover {
		background-color: #fff;
		box-shadow: 0 4px 4px 1px rgba(0,0,0,.25);
	}
	&.btn-hover-accent:hover {
		background-color: $color-red;
		color: white;
		box-shadow: 0 4px 4px 1px rgba(0,0,0,.25);	
		path {
			fill: #fff;
		}
	}
	// &.btn-hover-basket:hover {
	// 	.hover-handler-left {
	// 		transform: rotate(-51deg) translateX(-7px) translateY(1px);
	// 	}
	// 	.hover-handler-right {
 //    		transform: translateX(0) translateY(-6px) rotate(56deg);
 //    		transform-origin: center center;
	// 	}
	// }
}
.btn-fancy-basket {
	.fancy-basket-icon {
		position: absolute;
		width: 22px;
		height: 22px;
		right: 24px;
		top: 50%;
		transform: translateY(-40%);
		.basket-icon-bottom {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		.basket-icon-right,
		.basket-icon-left {
			transform-origin: center bottom;
			transition: 300ms;
		}

		.basket-icon-left {
			position: absolute;
		    top: -2px;
		    left: 3px;
		}
		.basket-icon-right {
		    position: absolute;
		    top: -2px;
		    right: 3px;
		}
	}
	&:hover {
		.basket-icon-left {
			transform: rotate(-75deg) translateX(3px);
		}
		.basket-icon-right {
			transform: rotate(75deg) translateX(-3px);
		}

	}

}
.btn-close {
	background-color: transparent;
	border: 0;
	outline: 0;
	position: relative;
	width: 40px;
	height: 40px;
	transform: rotate(-45deg);
	cursor: pointer;
	transiton: 300ms;
	&::before {
		position: absolute;
		content: '';
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 13px;
		height: 1px;
		background-color: $color-black;
	}
	&::after {
		position: absolute;
		content: '';
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: 13px;
		width: 1px;
		background-color: $color-black;
	}

	&:hover::after,
	&:hover::before { 
		background-color: $color-blue;
	}
}
.theme-link {
	transition: 300ms;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: $color-blue;
	}
}
.dashed-link {
	text-decoration: none;
	border-bottom: 1px dashed;
	transition: 300ms;
	&:hover {
		border-bottom: 1px dashed rgba(255,255,255,0);
	}
}
.icon-link {
	text-decoration: none;
	@include flex-row(nowrap, flex-start,center);
	display: flex !important;
	svg {
		margin-right: 10px;
	}
	&.icon-link-no-icon {
		padding-left: 24px;
	}
}
.arrow-link {
	position: relative;
	display: inline-block;
	padding: 0 56px 0 0;
	text-decoration: none;
	cursor: pointer;
	span {
		border-bottom: 1px dashed;
	}
	svg {
		position: absolute;
		right: 30px;
		top: 50%;
		transform: translateY(-50%);
	}
}
.repeat-link {
	position: relative;
	text-decoration: none;
	padding: 0 0 0 24px;
	&::after {
		position: absolute;
		content: '';
		width: 14px;
		height: 14px;
		left: 0px;
		top: 50%;
		transform: translateY(-50%);
		background-image: url(/img/icons/icon-repeat.svg);
		@include bg-contain;
	}
	&:hover::after {
		transition: 400ms;
		transform: translateY(-50%) rotate(360deg);
	}

}
.deco-link {
	position: relative;
	padding: 0 0 10px 0;
	text-decoration: none;
	transition: 300ms;
	font-weight: 700;
	overflow: hidden;
	&::after {
		position: absolute;
		content: '';
		left: 0px;
		bottom: 0;
		width: 20px;
		height: 2px;
		background-color: $color-blue;
		transform: translateX(-30px);
		transition: 200ms;
	}
	&::before {
		position: absolute;
		content: '';
		left: 0;
		bottom: 0;
		width: 20px;
		height: 2px;
		background-color: $color-red;
		transition: 200ms;
		transition-delay: 100ms;
	}
	&:hover {
		color: $color-blue;	
		// animation: anim-deco-link 400ms;	
	}
	&:hover::before {
		transform: translateY(-8px);
		opacity: 0;
	}
	&:hover::after {
		transition-delay: 200ms;
		transform: translateX(0);
	}
}

@keyframes anim-deco-link {
	0% {
		transform: translateX(0px);
	}
	55% {
		transform: translateX(-2px);
	}
	100% {
		transform: translateX(0);
	}
}




.hamburger {
	padding: 0;
	padding: 10px;
    margin-right: 19px;
    outline: 0;
    &:hover {
    	.hamburger-inner,
		.hamburger-inner::before,
		.hamburger-inner::after { background-color: $color-blue}
    }
    &.is-active {
		.hamburger-inner,
		.hamburger-inner::before,
		.hamburger-inner::after { width: 30px;}
    }
}
.hamburger-box {
	width: 30px;
	height: 18px;

}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	height: 2px;
}
.hamburger-inner { width: 30px; }
.hamburger-inner::before { width: 28px;}
.hamburger-inner::after { width: 26px;}



// TOP BAR

.top-bar {
	background-color: #fff;
	.container {
		height: 50px;
		@include flex-row(nowrap,space-between,center);		
	}
}
.top-bar-nav {
	height: 50px;
	@include flex-row(nowrap,space-between,center);		
}
.top-bar-link {
	@include flex-row(nowrap,flex-start,center);		
	height: 100%;
	position: relative;
	margin: 0 15px 0 0;
	@include font-kit(14px,13px,12px,14px,15px);
	text-decoration: none;
	transition: 300ms;
	&::before,
	&::after {
		position: absolute;
		content: '';
		height: 2px;
		bottom: 0;
		background-color: $color-blue;
		width: 0%;
		transition: 300ms;
	}
	&::before 	{ right: 50%; }
	&::after 	{ left: 50%; }

	&:hover {
		color: $color-blue;
	}
	&:hover::before,
	&:hover::after {
		width: 50%;
	}


}







// HEADER

.header {
	position: relative;
	&::after {
		@include pseudo;
		left: 0%;
		top: -280%;
		height: 90vh;
		width: 300%;
		background-color: #EDEDED;
		transform: rotate(-11deg) translateX(-50%) translateY(-50%);
		z-index: -1;
	}
	.container {
		@include flex-row(nowrap, flex-start, flex-start);
	}
}
.header-logo {
	margin: 20px 30px 0 0;
	display: inline-block;
	width: 136px;
	flex: 0 0 136px;
	height: 85px;
	background-image: url(/img/logo.png);
	@include bg-contain;
}
.header-content {
	flex: 1 1 100%;
}
.header-top {
	margin: 0 0 10px 0;
	@include flex-row(nowrap,space-between,center);
}
.header-bottom {
	@include flex-row(nowrap,flex-start,center);
	.btn-burger {
		margin: 0 29px 0 0;
	}
}
.header-nav {
	@include flex-row(nowrap,flex-start,center);
	.theme-link {
		font-size: 14px;
		margin: 0 17px 0 0;
	}
}
.header-mobile-controls {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    flex: 0 0 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delivery-badge {
	margin-right: 60px;
	@include flex-row(nowrap,space-between,center);
	flex: 0 0 243px;
	svg {
		margin-right: 30px;
	}
}


// SEARCH

.header-search {
	position: relative;
	margin: 0 55px 0 auto;
	height: 30px;
	flex: 1 1 45%;

	form,
	input {
		width: 100%;
		height: 100%;
		background-color: transparent;
		border-radius: 30px;
		box-shadow: 0;
		outline: 0;
	}
	input {
		border: 1px solid #D3D3D3;
		padding: 0 0 0 22px;
	}

	svg {
		position: absolute;
		top: 50%;
		right: 12px;
		width: 18px;
		height: 18px;
		transform: translateY(-50%);
	}
}



// BASKET

.btn-basket {
	flex: 0 0 105px;
	margin: 0 18px 0 0;
	padding: 20px 0;
	@include flex-row(nowrap,space-between,flex-end);
	text-decoration: none;
}
.btn-basket-icon {
	position: relative;
	margin: 0 9px 0 0;
	.btn-basket-num {
		position: absolute;
		right: -4px;
		top: -4px;
		width: 15px;
		height: 15px;
		background-color: $color-yellow;
		@include flex-row(nowrap,center,center);
		border-radius: 50%;
		font-size: 9px;
		font-style: normal;

	}
}
.btn-basket-text {
	margin-bottom: 3px;
}




// COMPARE

.btn-compare {
	flex: 0 0 109px;
	padding: 20px 0;
	@include flex-row(nowrap,space-between,flex-end);
	text-decoration: none;
}
.btn-compare-icon {
	position: relative;
	margin: 0 9px 0 0;
}
.btn-compare-text {
	margin-bottom: 3px;
	color: #797979;
}












// SLIDERS

.theme-pagination {
	padding: 0 40px;
	bottom: 29px !important;
}
.theme-pagination .swiper-pagination-bullet {
	margin: 0 6px !important;
	transition: 150ms;
	border: 2px solid transparent;
}

// white-yellow pagination
.theme-pagination-white .swiper-pagination-bullet {
	background-color: white;
    width: 10px;
    height: 10px;
    opacity: 1;
}
.theme-pagination-white .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: $color-yellow;
	box-shadow: 0 0 0 2px $color-yellow;
	animation: anim-pagination-bullet 200ms;
}

// red-yellow pagination
.theme-pagination-red .swiper-pagination-bullet {
	background-color: $color-red;
    width: 10px;
    height: 10px;
    opacity: 1;
}
.theme-pagination-red .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: $color-yellow;
	box-shadow: 0 0 0 2px $color-yellow;
	animation: anim-pagination-bullet 200ms;
}

.pagination-left {
	@include flex-row(nowrap, flex-start, center);
}

@keyframes anim-pagination-bullet {
	0% {
		border: 2px solid transparent;
	}
	50% {
		box-shadow: 0 0 0 4px $color-yellow;
	}
	100% {
		box-shadow: 0 0 0 2px $color-yellow;
	}
}













.slider-with-arrows {
	padding-bottom: 50px;
	.swiper-button-prev,
	.swiper-button-next {
	    top: auto;
	    bottom: 0;
	    width: 36px;
	    height: 36px;
		border-radius: 50%;
	    background-color: white;
	    box-shadow: 0 0 0px 1px rgba(0,0,0,.07);
	    &::after {display: none;}
	    &:hover {
	    	background-color: $color-yellow;
	    	box-shadow: 0 0 0px 1px $color-yellow;
	    }
	}
	.swiper-button-next {
	    left: 55px;
	}
	.swiper-button-prev {
	    left: 1px;
	    transform: rotate(-180deg);
	}
}


.hidden {
	visibility: hidden;
	height: 0;
	padding: 0;
	opacity: 0;	
	transform: translateY(-25px) scale(1.4) !important;
}


// CATALOG MENU

.catalog-menu-holder {
	position: relative;
}
.catalog-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 99;
	transform: none;
	transition: 250ms;
	// transition-delay: transform 200ms;
	.container {
		position: relative;
		.btn-close {
			position: absolute;
			top: 10px;
			right: 28px;
		}
	}

}
.catalog-menu-list {
	background-color: #fff;
	box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.07);
	padding: 40px 20px 10px 40px;
	@include flex-row(wrap,flex-start,flex-start);
	.deco-link {
		// transform: translateY(5px);
		// opacity: 0;
		flex: 0 0 25%;
		padding-right: 20px;
	}
}





// HERO SLIDER

.hero {
	margin-bottom: 73px;
}

.hero-slider {
	height: 430px;
	.swiper-container {
		height: 100%;
	}
}

.hero-slide {
	position: relative;
	@include flex-row(nowrap,flex-start,center);
	height: 100%;
	overflow: hidden;
	padding: 39px;
	z-index: 1;
}
.hero-slide-content { width: 100%;}
.hero-slide-deco { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include bg-cover;
	z-index: -3;
	&::after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #C31E32;
		opacity: 80%;
		z-index: -2;
		mix-blend-mode: multiply;
	}
	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(/img/bg/spec-main-overlay.png);
		z-index: -1;
		mix-blend-mode: multiply;
	}
}



// HERO-SPEC

.hero-spec {
	position: relative;
	@include flex-row(nowrap,flex-start,center);
	margin: 0 0 30px 0;
	height: 200px;
	padding: 39px;
	z-index: 1;
	background-image: url(/img/bg/bg-primary-small.jpg);
	@include bg-cover;
}
// .hero {
// 	.hero-spec:last-of-type {
// 		margin-bottom: 0;
// 	}
// }
.hero-spec-content {
	width: 60%;
}
.hero-spec-img {
	position: absolute;
	right: -5%;
	bottom: -12%;
	width: 46%;
	height: 89%;
	@include bg-contain;
}








.specs-slider {
	height: 564px; //430 + паддинги сверху и снизу
	padding: 60px 3px 74px 3px;
}

.spec-card {
	position: relative;
	background-color: #fff;
	padding: 20px;
	p {
		line-height: 1.15;
	}
	&.small {
		@include flex-row(nowrap,flex-start,center);
		height: 200px;
		margin-bottom: 30px;
		.spec-card-img {
			flex: 0 0 150px;
			max-width: 150px;
			height: 160px;
			margin-right: 20px;
			@include bg-contain;
		}
	}
	&.big {
		@include flex-row(wrap,flex-start,flex-start);
		height: 430px;
		.spec-card-img,
		.spec-card-content {
			flex: 1 1 100%
		}
		.spec-card-img {
			height: 230px;
			@include bg-contain;
		}
		.vertical-aligner {
			@include flex-row(nowrap,space-between,flex-start);
			.spec-card-header {
				flex: 1 1 100%;
			}
			.spec-card-footer {
				flex: 0 0 100px;
			}
		}
	}
}
@media screen and (min-width: 992px) {
	.spec-card.small:last-child {
		margin-bottom: 0;
	}
}
.spec-card-badge {
	position: absolute;
	left: 12px;
	top: -5px;
	padding: 4px 8px;
	border-radius: 4px;
	text-align: center;
	@include font-size(14);
}










// category list
.catalog-unit {
	position: relative;
	height: 161px;
	transition: all 150ms;
	&.active {
		.catalog-unit-content{
			box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.1);
			z-index: 1;
		}
		.catalog-unit-list {
			height: auto;
		}
		.catalog-unit-icon::before {
			animation: animate-catalog-unit-icon-deco 250ms;
			width: 100%;
		}
	}
	&.disabled {
		transform: scale(.96);
		opacity: .65;
		z-index: -1;
		.catalog-unit-header p,
		.catalog-unit-item a {
			color: gray;
		}
		.catalog-unit-icon::before,
		.catalog-unit-divider {
			background-color: gray;
		}
	}
}

.catalog-unit-content {
	position: absolute;
    width: calc(100% + 60px);
    padding: 30px;
    top: -30px;
    left: -30px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 14px;    
    transition: 300ms;
}
.catalog-unit-header {
	text-decoration: none;
	position: relative;
	padding: 0 0 0 57px;
	min-height: 42px;
	@include flex-row(nowrap, flex-start, center);
	margin-bottom: 19px;
	p {
		color: #C31E32;
	}
}
.catalog-unit-icon {
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	flex: 0 0 40px;
	height: 40px;
	@include bg-contain;
	&::before {
		position: absolute;
		content: '';
		bottom: -10px;
		left: 0;
		width: 50%;
		height: 2px;
		background-color: #C31E32;
		transition: 300ms;
	}
}
@keyframes animate-catalog-unit-icon-deco {
	0% {width: 20px;}
	62% { width: 46px;}
	100% {width: 40px;}
}
.catalog-unit-list {
	padding: 0 0 0 57px;
    margin: 0 0 0 -2px;
    height: 70px;
    overflow: hidden;
}
.catalog-unit-item {
	font-size: 14px;
	display: inline-block;
	padding: 0 3px 0 2px;
	margin: 0;
	list-style: none;
	line-height: 1;
	a {
		display: inline-block;
		padding: 5px 0;
	}
	&::before {
		display: none;
	}
}
.catalog-unit-divider {
	display: inline-block;
	width: 4px;
	height: 4px;
	vertical-align: middle;
	background-color: $color-blue;
	border-radius: 50%;
	&:last-child {display: none;}
}



// NEWS
.news-thumb {
	display: inline-block;
	width: 100%;
	text-decoration: none;
	&:hover {
		.photo-zoomer {
			transform: translateX(-49%) translateY(-51%);
			&::before {
				opacity: .65;
	    		left: -195%;
			}
			&::after {
				opacity: .25;
			}
		}
		.news-thumb-caption::before {
			// animation: animate-new-thumb-caption 350ms;
			width: 50px;
		}
	}
}
.news-thumb-caption {
	position: relative;
	padding: 0 0 14px 0;
	margin: 0 0 14px 0;
	&::before {
		position: absolute;
		bottom: 0;
		left: 0;
	    content: '';
	    width: 30px;
	    height: 2px;
	    background-color: #C31E32;
	    transition: 300ms;
	}
}
@keyframes animate-new-thumb-caption {
	0% {width: 30px;}
	62% { width: 59px;}
	100% {width: 50px;}
}
.news-thumb-date {
	color: #797979;
	font-size: 14px;
}







.photo {
	display: inline-block;
	position: relative;
	width: 100%;
	// height: 243px;
	overflow: hidden;
	&.height-300 {
		height: 336px;
	}	
	&.height-250 {
		height: 243px;
	}	
}
.photo-zoomer {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 120%;
	height: 120%;
	@include bg-cover;
	cursor: pointer;
	transform: translateX(-50%) translateY(-50%);
	transition: 450ms;
	// &::before {
	// 	position: absolute;
	//     content: '';
	//     width: 200%;
	//     height: 200%;
	//     background-color: black;
	//     transition: 300ms;
	//     left: -255%;
	//     top: -50%;
	//     transform: rotate(15deg);
	//     opacity: 0;
	// }
	&::after {
		position: absolute;
	    content: '';
	    width: 100%;
	    height: 100%;
	    background-color: $color-blue;
	    transition: 250ms;
	    left: 0%;
	    top: 0%;
	    opacity: 0;
	    mix-blend-mode: multiply;
	}
}

.photo:not(.no-hover):hover {
		.photo-zoomer {
			transform: translateX(-49%) translateY(-51%);
			&::before {
				opacity: .65;
	    		left: -195%;
			}
			&::after {
				opacity: .25;
			}
		}
	}








// forms
.section-form {
	position: relative;
	&::before {
		position: absolute;
		content: '';
		width: 50%;
		height: 120%;
		bottom: 0;
		right: 0;
		background-image: url(/img/bg/worker.png);
		background-size: contain;
		background-position: bottom left;
		background-repeat: no-repeat;
	}
}

.theme-form {}
.form-horizontal {
	margin-right: 40px;
}
.textarea-label {
	// position: relative;
	border-radius: 25px;
	overflow: hidden;	
	width: 100%;
	height: 66px;
	padding: 12px 0 0 0;
	background-color: #fff;
	outline: 0;
	box-shadow: none;
	textarea {
		// position: absolute;
		// left: 0;
		// top: 14px;
		width: 98%;
		height: 96%;
		overflow: auto;
		border: 0;
		outline: 0;
		box-shadow: none;
		padding: 0 15px 7px 15px;
		&::-webkit-scrollbar {
		  width: 10px;
		}
		&::-webkit-scrollbar-track {
		  background: white;
		}
		&::-webkit-scrollbar-thumb {
		  background: $color-blue;
		  border-radius: 5px;
		  cursor: pointer;
		}
		&::-webkit-scrollbar-thumb:hover {
		  background: $color-red;
		}
	}
}
.form-label {
	background-color: #fff;
	height: 38px;
	border-radius: 25px;
	overflow: hidden;
	input {
		width: 100%;
		height: 100%;
		border: 0;
		outline: 0;
		box-shadow: none;
		padding: 0 15px 0 15px;
	}
}





.footer {}
	.footer-link {
	display: block;
	padding: 8px 0;
}

.legal {
	border-top: 1px solid lightgray;
	padding: 15px 0;
	@include flex-row(nowrap,space-between,center);
}


.to-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	text-align: center;
	cursor: pointer;
	transition: 300ms;
	opacity: .65;

	transform: translateX(160px);
	&.visible {
		transform: translateX(0px);
	}
	&:hover {
		opacity: 1;
		.to-top-icon {
			transform: rotate(-90deg) translateX(4px);
		}
	}
}
.to-top-icon {
	@include flex-row(nowrap,center,center);
	width: 47px;
	height: 47px;
	background-color: $color-yellow;
	border-radius: 50%;
	transform: rotate(-90deg);
	margin-bottom: 4px;
	transition: 300ms;
}
.to-top-text {
	@include font-size(16);
	// font-weight: bold;
}







// breadcrumbs
.breadcrumbs {
	@include flex-row(nowrap,flex-start,center);

}
.breadcrumb-item {
	position: relative;
	font-size: 14px;
	padding: 3px 28px 3px 0;
	text-decoration: none;
	&::before {
		position: absolute;
		content: '';
		width: 8px;
		height: 1px;
		right: 9px;
		top: 50%;
		transform: translateY(-1px);
		background-color: $color-black;
	}
	&:last-child::before {
		display: none;
	}
	&.active {
		color: #B5B4B4 !important;
		// opacity: .6;
	}
}





// ==========================================================
// catalog page
// ==========================================================


.filter {}
.filter-top {
	height: 28px;
	@include flex-row(nowrap, space-between, center);
	margin-bottom: 20px;
}
.filter-categories,
.filter-parameters {
	padding: 16px 19px 18px 23px;
}
.filter-categories-list {}
.filter-category-item {
	font-size: 15px;
	display: block;
	padding: 7px 0 7px 0;
	color: #fff;
	cursor: pointer;
	font-weight: 700;
	transition: 300ms;
	user-select: none;
	&:hover {
		color: $color-yellow;
	}
}
.filter-categories-more {

}

.filter-parameters {

}



.filter-accordeon {
	padding: 0px 0 0px 0;
	&:first-of-type {padding-top: 0;}
	transition: all 300ms;
	&.active {
		.filter-accordeon-label::before {
			transform: translateY(-5px) rotate(180deg);
		}
		
	}
}
.filter-accordeon-label {
	position: relative;
	margin: 0 0 14px 0;
	padding: 5px 0;
	font-weight: bold;
	cursor: pointer;

	&::before {
		position: absolute;
		content: '';
		width: 9px;
		height: 9px;
		top: 50%;
		right: 15px;
		transform: translateY(-5px);
		background-image: url(/img/icons/icon-chevron-down-black.svg);
		@include bg-contain;
		transition: 300ms;
	}
}
.filter-accordeon-content {
    border-bottom: 1px solid #D3D3D3;
    padding: 20px 20px 17px 20px;
    margin: -20px -20px 17px -20px;
	.pretty {
		display: block;
		padding: 6px 0;
		cursor: pointer;
		user-select: none;
		z-index: 1;
		.state-deco {
			position: absolute;
		    left: -1px;
		    top: 50%;
		    width: 20px;
		    height: 20px;
		    background-color: $color-red;
		    border-radius: 50%;
		    transform: translateY(-50%);
		    opacity: 0;
		    z-index: 1;
		    &.active {
				animation: anim-checkbox 400ms;
		    }
		}
	}
}

@keyframes anim-checkbox {
	0% {
		transform: translateY(-50%) scale(1);
		opacity: .3;
	}
	100% {
		transform: translateY(-50%) scale(2.5);
		opacity: 0;
	}
}



// pretty checkboxes

.pretty .state label:after, .pretty .state label:before {
	top: 50%;
	transform: translateY(-50%) !important;
	transition: 400ms !important;
	width: calc(1em + 1px) !important;
    height: calc(1em + 1px) !important;
}
.pretty.p-default input:checked ~ .state label:after {
	background-color: $color-red !important;
	
}




.range-numbers {
	@include flex-row(nowrap, space-between, center);
	.range-input {
		width: 40%;
		background-color: #fff;
		border-radius: 20px;
		height: 30px;
		line-height: 30px;
		padding: 0 6px 0 12px;
		border: 0;
		box-shadow: 0;
		outline: 0;
	}
}









// inner pages styles
.inner-page {
	.header {
		background-color: #EDEDED;
		padding: 0 0 20px 0;
		&::after {
			display: none;
		}
	}
}





// catalog list
.catalog-list-top {
	height: 28px;
	@include flex-row(nowrap,flex-start,center);
	margin-bottom: 20px;
}
.catalog-list-total {
	flex: 0 0 100px;
	max-width: 100px;
}
.catalog-list-sorting {
	margin: 0 85px 0 0;
	flex-grow: 1;
	margin-left: auto;
	@include flex-row(nowrap,flex-end,center);
	.sorting-price {
		@include flex-row(nowrap,flex-start,center);
	}
	.sorting-item {
		padding: 4px 0 4px 0;
		cursor: pointer;
		user-select: none;
		&:hover {
			color: $color-blue;
		}
		.sorting-icon {
			position: relative;
			width: 18px;
			height: 12px;
			margin-right: 10px;
			svg {
				position: absolute;
				left: 0;
				top: 50%;
				transition: 300ms;
			}
			.sorting-icon-line {
				position: absolute;
				left: 9px;
				height: 1px;
				background-color: $color-blue;
				transition: 300ms;
				&:nth-of-type(1) {
					width: 11px;
					top: 0;
				}
				&:nth-of-type(2) {
					width: 9px;
					top:50%;
				}
				&:nth-of-type(3) {
					width: 7px;
					bottom: -1px;
				}
			}
		}


		&.a-z {
			svg {
				transform: translateY(-50%);
			}
		}
		&.z-a {
			svg {
				transform: translateY(-50%) rotate(180deg);
			}
			.sorting-icon-line {
				&:nth-of-type(1) {
					width: 7px;
				}
				&:nth-of-type(2) {
					width: 9px;
				}
				&:nth-of-type(3) {
					width: 11px;
				}
			}
		}
	}
	.sorting-name {}
	
}
.catalog-list-view {
	flex: 0 0 130px;
	@include flex-row(nowrap,flex-end,center);
}
.view-item {
	position: relative;
	cursor: pointer;
	&::before {
		position: absolute;
		content:'';
	    left: 50%;
	    top: 50%;
	    width: 40px;
	    height: 40px;
	    background-color: $color-blue;
	    border-radius: 50%;
	    transform: translateX(-50%) translateY(-50%) scale(.7);
	    opacity: 0;
	    z-index: 1;
	}
	&.active {		
		svg rect {
			fill: $color-blue;
		}
	}
	&.theme-anim::before {
		animation: anim-view-btn 400ms;
	}
}
@keyframes anim-view-btn {
	0% {
		transform: translateX(-50%) translateY(-50%) scale(.4);
		opacity: .25;
	}
	100% {
		transform: translateX(-50%) translateY(-50%) scale(1.5);
		opacity: 0;
	}
}


// view-cards

.catalog-list.view-cards	{
	.product {
		display: block;
		text-align: center;
		margin:0 0 30px 0;
		padding: 25px;
		box-shadow: 0 0 22px 0 rgba(0,0,0,.1);
		text-decoration: none;
		transition: 300ms;
		&:hover {
			transform: translateY(-4px);
			box-shadow: 0 0 26px 0 rgba(0,0,0,.2);

		}
	}
	.product-img {
		display: block;
		width: 100%;
		height: 234px;
		@include bg-contain;
		margin-bottom: 10px;
	}
	.product-name {
		text-decoration: none;
		display: block;
		@include font-size(18);
		margin-bottom: 13px;
	}
	.product-info {
		margin-bottom: 13px;
	}
	.product-params {
		.product-param-item {
			margin-bottom: 10px;

		}
	}
	.product-price {
		@include font-size(24);
		margin-bottom: 13px;
	}
	.product-counter {
		display: none;
	}
	.product-btn {}
}


// view-list

.catalog-list.view-list	{
	.col-lg-4,
	.col-md-6 {
		flex: 1 1 100% !important;
		max-width: 100% !important;

	}
	.product {
		@include flex-row(nowrap,flex-start,center);
		padding: 16px;
		margin: 0 0 12px 0;
		box-shadow: 0 0 12px 0 rgba(0,0,0,.1);
		text-decoration: none;
		transition: 300ms;
		&:hover {
			box-shadow: 0 0 15px 0 rgba(0,0,0,.2);

		}
	}
	.product-img {
		display: block;
		width: 70px;
		height: 70px;
		@include bg-contain;
		margin-right: 40px;
	}
	.product-name {
		text-decoration: none;
		display: block;
		@include font-size(18);
		margin-bottom: 13px;
	}
	.product-info {
		flex: 0 0 340px;
		padding: 0 15px 0 0;
	}
	.product-params {
		.product-param-item:not(:first-child) {
			display: none;

		}
	}
	.product-price {
		@include font-size(24);
		margin: 0 30px 0 auto;
	}
	.product-counter {
		margin: 0 30px 0 0;
	}
	.product-btn {
		.btn-main {
			width: 42px;
			height: 42px;
			padding: 0;
			span {display: none;}
			span.fancy-basket-icon {
				display: block;
				top: 50%;
				left: 50%;
				right: auto;
				transform: translateX(-50%) translateY(-40%);
			}
		}
	}
}



.counter {
	@include flex-row(nowrap,space-between,center);
}
.counter-control {
	@include flex-row(nowrap,center,center);
	width: 24px;
	height: 24px;
	background-color: $color-red;
	border-radius: 50%;
	cursor: pointer;
	transition: 300ms;
	&:hover {
		background-color: $color-blue;
	}
	&.counter-control-minus {margin-right: 10px;}
	&.counter-control-plus {margin-left: 10px;}
}
.counter-input {
	text-align: center;
	width: 44px;
	height: 24px;
	line-height: 24px;
	border-radius: 8px;
	background-color: #EDEDED;
	border: 0;
}



// 1200= ==============================================================

@media screen and (max-width: 1200px) {
	.top-bar-nav {
		overflow: auto;
		max-width: 600px;
	}
	.header-nav {
		@include flex-row(wrap,flex-start,flex-start);
		.theme-link {
			padding: 4px 0;
		}
	}

	// hero specs
	.hero-spec-content {
		width: 100%;
	}
	.hero-spec-img {
		right: 6%;
	    bottom: -12%;
	    width: 36%;
	    height: 55%;
	}

	// catalog-menu
	.catalog-menu-list {
		padding: 40px 25px;
		.deco-link {
			flex: 0 0 33%;
		}
	}


	// form on main
	.section-form::before {
		width: 62%;
	}
}







// 992= ==============================================================

@media screen and (max-width: 992px) {

	// header
	.header-search {
		display: none;
	}
	.header-logo {
		flex: 0 0 110px;
		width: 110px;
	}
	.delivery-badge {
		@include flex-row(nowrap,flex-start,center);
		margin-right: 10px;
		svg {
			margin-right: 15px;
		}
	}


	// hero slider
	.hero-slider {
		margin-bottom: 30px;
	}


	// spec-slider
	.specs-slider {
		height: auto;
	}
	.spec-card {
		&.small,&.big {
			height: 150px;
			flex-wrap: nowrap;
			.spec-card-img {
				height: 100%;
				width: 120px;
				flex: 0 0 120px;
				margin-right: 25px;
			}
			.vertical-aligner {
				flex-wrap: wrap;
			}
			.text-size-18,
			.text-size-22 {
				@include font-size(15);
				font-weight: 700;
			}
			.text-size-20,
			.text-size-30 {
				margin-bottom: 10px !important;
			}
			.text-size-30 {
				@include font-size(20);
			}
		}
	}

	// buttons
	.btn {
	    position: relative;
	    display: inline-block;
	    padding: 7px 50px 7px 28px;
	    text-decoration: none;
	    cursor: pointer;
	}


	// catalog units on main
	.catalog-unit {
		height: auto;
	}
	.catalog-unit-content {
		position: relative;
		width: auto;
		left: 0;
		top: 0;
		padding: 10px;
	}


	// from on main
	.section-form::before {
		width: 71%;
		right: -15%;
	}
}






// 768= ==============================================================

@media screen and (max-width: 768px) {

	// header
	.top-bar,
	.delivery-badge  {display: none;}
	.header-top {
		height: 100%;
		margin: 5px 25px 0 0;
	}
	.header-top {
		.btn-compare {
			display: none;
		}
	}
	.header-logo {
		flex: 0 0 80px;
		width: 80px;
	}
	.header-logo,
	.header-content {
		height: 70px;
		margin: 0;
	}
	.header-content {
		@include flex-row(nowrap, flex-end, center);
	}
	.header-bottom {
		height: 100%;
	}

	.header-bottom {
		@include flex-row(nowrap,flex-end, center);
	}
	.header-nav {
		display: none;
	}
	.hamburger {
		margin-right: 0;
	}


	// hero-slier
	.hero-slider {
		height: 360px;
	}


	// catalog-menu
	.catalog-menu-list {
		padding: 45px 25px;
		.deco-link {
			flex: 0 0 50%;
		}
	}


}






// 568= ==============================================================

@media screen and (max-width: 576px) {
	.top-bar .container {
		@include flex-row(nowrap,center,center);
	}

	.spec-card {
		&.small,&.big {
			height: 150px;
			.spec-card-img {
				height: 100%;
				width: 70px;
				flex: 0 0 70px;
				margin-right: 15px;
			}
		}
	}


	// catalog-menu
	.catalog-menu-list {
		padding: 50px 15px;
		.deco-link {
			flex: 0 0 100%;
		}
	}
	

	// footer
	.footer.py-60 {
		padding: 40px 0 20px 0;
	}
	.legal {
		@include flex-row(wrap, center, center);
		span {
			flex: 1 1 100%;
			padding: 8px 0;
			text-align: center;
			&:nth-child(2) {
				opacity: .5;
			}
		}
	}


	// from on main
	.section-form::before {
		width: 70%;
		right: -35%;
	}
}






// 413= ==============================================================

@media screen and (max-width: 413px) {
	// from on main
	.theme-form.pr-60 {padding: 0 !important; }
	.section-form::before {
		width: 90%;
		right: -45%;
	}
}

// 413= ==============================================================

@media screen and (max-width: 375px) {
	// header
	.header-logo {
		flex: 0 0 60px;
		width: 60px;
	}
	.header-top {
		margin: 5px 0 0 0;
	}

	.spec-card {
		&.small,&.big {
			height: 167px;
			.spec-card-img {
				height: 100%;
				width: 60px;
				flex: 0 0 60px;
				margin-right: 12px;
			}
			.text-size-18,
			.text-size-22 {
				@include font-size(13);
			}
			.text-size-20,
			.text-size-30 {
				@include font-size(16);
			}
			.text-size-20,
			.text-size-30 {
				margin-bottom: 6px !important;
			}
		}
	}

	// from on main
	.section-form::before {
		width: 130%;
		right: -60%;
		opacity: .75;
	}
}















// .news-thumb-img {
// 	display: inline-block;
// 	width: 100%;
// 	height: 243px;
// 	margin-bottom: 19px;
// 	background-size: 150%;
// 	background-position: top left;
// 	background-repeat: no-repeat;
// 	transition: 300ms;

// }