/*utilities*/


/*text utilities*/

.text-left 			{}
.text-center 		{}
.text-right 		{}
.text-small 		{}
.text-extrasmall 	{}
.text-big 			{}
.text-extrabig 		{}
.text-uppercase 	{text-transform: uppercase;}
.text-lowercase 	{}
.font-primary 	{font-family: $font-1;}
.font-secondary 	{font-family: $font-1;}




/*color utilities*/
.text-white 		{color: white !important;}


/*flow utilities*/