/*utilities*/


/*text utilities*/

.text-left 			{}
.text-center 		{text-align: center;}
.text-right 		{}

.text-small 		{@include font-size(14);}
.text-extrasmall 	{}
.text-size-18		{@include font-size(18);}
.text-size-20 		{@include font-size(20);}
.text-size-22 		{@include font-size(22);}
.text-size-26 		{@include font-size(26);}
.text-size-30 		{@include font-size(30);}
.text-size-38 		{@include font-size(38);}

.text-uppercase 	{text-transform: uppercase;}
.text-lowercase 	{text-transform: lowercase;}
.text-red			{color: $color-red;}
.text-muted			{opacity: .68 !important;}
.text-black-50		{color: rgba(0,0,0,.5) !important;}

.font-primary 		{font-family: $font-1;}
.font-secondary 	{font-family: $font-2;}

.rub 				{
	position: relative;
	padding-right: 18px;
    background-image: url(/img/icons/icon-rub.svg);
    background-size: 12%;
    background-repeat: no-repeat;
    background-position: right center;
	// &::before {
	//     position: absolute;
	//     content: '';
	//     width: 15px;
	//     height: 60%;
	//     top: 50%;
	//     right: 0;
	//     transform: translateY(-50%);
	//     background-image: url(/img/icons/icon-rub.svg);
	//     background-position: 50% 50%;
	//     background-size: contain;
	//     background-repeat: no-repeat;
	// }
}
.text-decoration-none {text-decoration: none;}



/*color utilities*/
.text-white 		{color: white !important;}
.text-yellow 		{color: $color-yellow !important;}


/*flow utilities*/
.py-60 {
	padding: 60px 0;
}
.pr-60 {padding-right: 60px;}
.pd-60 {padding-bottom: 60px;}
.pd-50 {padding-bottom: 50px;}
.pd-40 {padding-bottom: 40px;}
.mb-130 {margin-bottom: 130px;}

.img-resp {
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: 768px) {
	.md-mb-30 {
		margin-bottom: 30px;
	}
}