/*utilities*/


/*text utilities*/

.text-left 			{}
.text-center 		{text-align: center;}
.text-right 		{}
.text-small 		{}
.text-extrasmall 	{}
.text-big 			{@include font-size(18);}
.text-extrabig 		{}
.text-uppercase 	{text-transform: uppercase;}
.text-lowercase 	{text-transform: lowercase;}
.font-primary 		{font-family: $font-1;}
.font-secondary 	{font-family: $font-2;}




/*color utilities*/
.text-white 		{color: white !important;}


/*flow utilities*/
.py-60 {
	padding: 60px 0;
}
.pd-60 {padding-bottom: 60px;}
.pd-50 {padding-bottom: 50px;}
.pd-40 {padding-bottom: 40px;}

.img-resp {
	max-width: 100%;
	height: auto;
}